@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{
  background-color: #282c34;
  font-family: 'Montserrat', sans-serif;
  /* color: limegreen; */
}

.App {
  text-align: center;
  color:rgba(255, 255, 255, 0.597); 
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 400px);
  gap: 20px;
}

.songCard{
  grid-column: auto;
  width: 400px;
  height: 400px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  background-color: #313439;
}

.details-container{
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 60px);
  gap: 20px;
  border-style: solid;
  border-width: 1px;
}

.card-details{
  padding: 10px;
}

.title{
  font-size: larger;
}